<div id="works_container">
  <div class="work_items">
    <% @works.each do |work| %>
      <div id="work_<%= work.id %>" class="work_item" data-work-id="<%= work.id %>"
                                                      data-year="<%= work.date.year %>"
                                                      data-img-src="<%= work.image.url(:large) %>"
                                                      data-title="<%= work.title.html_safe %>"
                                                      data-desc="<%= work.date.year %>">
        <div class="image">
          <%= image_tag work.image.url(:thumb) %>
          <div class="hover_cover">
            <div class="info">
              <div class="title"><%= work.title.html_safe %></div>
              <div class="desc"><%= work.date.year %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="year_lines">
  </div>
</div>

<div class="pagination_container hidden">
  <%= will_paginate(@works)%>
</div>